/*
$font-name: "Montserrat-Regular";
$font-family: "Montserrat";
@font-face {
   font-family: $font-family;
   font-style: normal;
   font-weight: 400;
   // Браузер сначала попробует найти шрифт локально
   src: local($font-family),
   // Если не получилось, загрузит woff2
   url('../fonts/#{$font-name}.woff2') format("woff2"),
   // Если браузер не поддерживает woff2, загрузит woff
   url("../fonts/#{$font-name}.woff") format("woff");
}*/
