@import"./templates/null.scss";
@import "./templates/templates.scss";
@import "./templates/mixin.scss";
//@import "./templates/burger.scss";
@import "./fonts/fonts.scss";
@import "./fonts/fonts-icons.scss";
$maxWidth: 1200;
$minWidth: 320;
body {
  font-size: rem(16px);
  height: 100%;
}
.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
[class*='container'] {
  max-width: #{$maxWidth + px};
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
  @media (max-width: 1200px){
      max-width: 970px;
  }
  @media (max-width: 992px){
      max-width: 750px;
  }
  @media (max-width: 767px){
      max-width: none;
  }
}

