//______Size to rem___________________________________
$fontSizeRem: 16px;
@function rem($size) {
  @return calc($size / $fontSizeRem*1rem);
}
html {
  font-size: calc(($fontSizeRem/$fontSizeRem)*100%);
}

//______Img in background___________________________________
[class*='ibg'] {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
//______Add font___________________________________
@mixin font($fontName, $fileName, $weight, $style) {
	@font-face {
		font-family: $fontName;
		font-display: swap;
		src: url("../fonts/#{$fileName}.woff2") format("woff2"), url("../fonts/#{$fileName}.woff") format("woff");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
